
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUp</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        $(document).ready(function () {
            //验证表单
            $("#SignUpForm").submit(function (e) {
                var errorInfo = "";     //记录错误信息
                var adminName = $("#AdminName").val();
                var password = $("#Password").val();
                if (adminName == "") {
                    errorInfo += "请输入用户名 \n";
                } else if (adminName.length >= 20) {
                    errorInfo += "用户名不能超过20个字符 \n";
                } else if (adminName.indexOf(" ") != -1) {
                    errorInfo += "用户名不能含有空格 \n";
                }

                if (password == "") {
                    errorInfo += "请输入密码 \n";
                } else if (password.length >= 20) {
                    errorInfo += "密码不能超过20个字符 \n";
                } else if (password.indexOf(" ") != -1) {
                    errorInfo += "密码不能含有空格 \n";
                }

                if (errorInfo != "") {
                    alert(errorInfo);
                    e.preventDefault(); //取消事件的默认动作，即取消提交
                }else {
                    //用ajax将用户名返回服务器，检验数据库是否存在同名用户
                    //在其它项都输入无误时才检验
                    var data = {
                        AdminName : adminName
                    }
                    var isUnique = true;
                    $.ajax({
                        type: 'POST',
                        url: '/MyAdminCenter/CheckAdminName',
                        data: data,
                        async: false,   //取消异步，改为同步
                        success: function(r){
                            isUnique = r.isUnique;
                        }
                    });
                    if(isUnique == false){
                        errorInfo += "该用户名已被使用 \n";
                        alert(errorInfo);
                        e.preventDefault(); //取消事件的默认动作，即取消提交
                    }
                }
            });
        });

    </script>
</head>
<body>
    @Html.Partial("AdminHeader")
    @Html.Partial("AdminCenterHeader")
    <div style="text-align:center; display:flex; flex-direction:column; align-items:center">
        <h3>@ViewData["Message"]</h3>
        <h3>管理员注册</h3>
        <form action="/MyAdminCenter/DoSignUp" method="post" id="SignUpForm">
            <table>
                <tr>
                    <td>用户名：</td>
                    <td><input type="text" name="AdminName" id="AdminName" placeholder="请输入用户名" /></td>
                </tr>
                <tr>
                    <td>密码：</td>
                    <td><input type="password" name="Password" id="Password" placeholder="请输入密码" /></td>
                </tr>
                <tr>
                    <td><input type="submit" value="注册" /></td>
                    <td><input type="reset" value="重置" /></td>
                </tr>
            </table>
        </form>

    </div>
</body>
</html>
