
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangeUserInfo</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#SwitchBtn").html("修改信息");
            $("#ChangePassword").show();
            $("#ChangeInfo").hide();

            //异步获取用户可修改的信息
            $.ajax({
                type: 'POST',
                url: '/MyUserCenter/GetUserInfo',
                success: function (r) {
                    //显示数据
                    var PhoneNum = r.PhoneNum;
                    $("#PhoneNum").val(PhoneNum);
                }
            });

            //设置切换按钮点击事件，隐藏一个div，显示另一个div
            $("#SwitchBtn").click(function () {
                if ($("#SwitchBtn").html() == "修改密码") {
                    $("#SwitchBtn").html("修改信息");
                    $("#ChangePassword").show();
                    $("#ChangeInfo").hide();
                } else {
                    $("#SwitchBtn").html("修改密码");
                    $("#ChangePassword").hide();
                    $("#ChangeInfo").show();
                }
            });

            //验证表单
            $("#ChangeInfoBtn").click(function () {
                var errorInfo = "";     //记录错误信息
                var phoneNum = $("#PhoneNum").val();

                if (phoneNum == "") {
                    errorInfo += "请输入手机号码 \n";
                } else if (!(/^1[34578]\d{9}$/.test(phoneNum))) {   //用正则表达式检查手机号格式
                    errorInfo += "请输入正确的手机号码 \n";
                }

                if (errorInfo != "") {
                    alert(errorInfo);
                } else {
                    $("#Tip").text("...");
                    var data = {
                        PhoneNum: phoneNum
                    }
                    //提交修改信息
                    $.ajax({
                        type: 'POST',
                        data: data,
                        url: '/MyUserCenter/ChangeUserInfo',
                        success: function (r) {
                            //显示提示信息
                            $("#Tip").text(r.tip);
                        }
                    });
                }
            });

            //验证表单
            $("#ChangePswBtn").click(function () {
                var errorInfo = "";     //记录错误信息
                var oldPassword = $("#OldPassword").val();
                var newPassword = $("#NewPassword").val();

                if (oldPassword == "") {
                    errorInfo += "请输入原密码 \n";
                } else if (oldPassword.length >= 20) {
                    errorInfo += "原密码不会超过20个字符！";
                } else if (oldPassword.indexOf(" ") != -1) {
                    errorInfo += "原密码不会含有空格 \n";
                }

                if (newPassword == "") {
                    errorInfo += "请输入新密码 \n";
                } else if (newPassword.length >= 20) {
                    errorInfo += "新密码不能超过20个字符！";
                } else if (newPassword.indexOf(" ") != -1) {
                    errorInfo += "新密码不能含有空格 \n";
                }

                if (errorInfo != "") {
                    alert(errorInfo);
                } else {
                    $("#Tip").text("...");
                    var data = {
                        oldPassword: oldPassword,
                        newPassword: newPassword
                    }
                    //提交修改信息
                    $.ajax({
                        type: 'POST',
                        data: data,
                        url: '/MyUserCenter/ChangeUserPassword',
                        success: function (r) {
                            //显示提示信息
                            $("#Tip").text(r.tip);
                        }
                    });
                }
            });
        });

    </script>
</head>
<body>
    @{Html.RenderAction("GetUserHeader", "MyUser");}
    @Html.Partial("UserCenterHeader")
    <div style="text-align:center">
        <h3 id="Tip"></h3>
        <div style="text-align:center; display:flex; flex-direction:column; align-items:center" id="ChangeInfo">
            <h3>修改用户信息</h3>
                <table>
                    <tr>
                        <td>手机号码：</td>
                        <td>
                            <input type="text" name="PhoneNum" id="PhoneNum" placeholder="请输入您的手机号码" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><button id="ChangeInfoBtn">修改</button></td>
                    </tr>
                </table>
        </div>
        <div style="text-align:center; display:flex; flex-direction:column; align-items:center" id="ChangePassword">
            <h3>修改密码</h3>
                <table>
                    <tr>
                        <td>原密码：</td>
                        <td><input type="password" name="OldPassword" id="OldPassword" placeholder="请输入原密码" /></td>
                    </tr>
                    <tr>
                        <td>新密码：</td>
                        <td><input type="password" name="NewPassword" id="NewPassword" placeholder="请输入新密码" /></td>
                    </tr>
                    <tr>
                        <td colspan="2"><button id="ChangePswBtn">修改</button></td>
                    </tr>
                </table>
        </div>
        <button id="SwitchBtn" style="margin-top: 50px">修改密码</button>
    </div>
</body>
</html>
