
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MessageManage</title>
    <script type="text/javascript" src="~/jquery_easyui/jquery.min.js"></script>
    <script type="text/javascript" src="~/jquery_easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="~/MyJavaScript/myJS.js"></script>
    <link rel="stylesheet" type="text/css" href="~/jquery_easyui/themes/icon.css" />
    <link rel="stylesheet" type="text/css" href="~/jquery_easyui/themes/default/easyui.css" />
    <link rel="stylesheet" type="text/css" href="~/css/myCSS.css" />

    <script type="text/javascript">
        var getDataURL = "/MyUserCenter/GetMessageDataGridList";
        var getMsgURL = "/MyUserCenter/GetMessage";
        $(function () {
            var isChanged = false;
            $("#MessageDG").datagrid({
                url: getDataURL,
                idField: 'Id',
                //fit: true,
                singleSelect: true,
                toolbar: "#ToolBar",
                //checkOnSelect: false,
                //selectOnCheck: false,
                pagination: true,
                rownumbers: true,
                fitColumns: true,
                method: "POST",
                contentType: "application/json",
                customLoad: false,
                autoRowHeight: false
            });

            //查看留言
            $("#EditBtn").click(function () {
                isChanged = false;
                //取得选中行
                var msg = $('#MessageDG').datagrid('getSelected');
                if (msg) {
                    //得到留言id，返回服务器查找留言详情和回复
                    var id = msg.Id;
                    GetMessageAndFillEditDiv(id, getMsgURL);
                    //当留言是公开时，使输入框为只读，提交按钮隐藏，即无法修改
                    if (msg.IsPublic) {
                        $("#EditTitle").attr("readonly", true);
                        $("#EditContent").attr("readonly", true);
                        $("#ConfirmBtn").hide();
                    } else {
                        $("#EditTitle").attr("readonly", false);
                        $("#EditContent").attr("readonly", false);
                        $("#ConfirmBtn").show();
                    }
                    //当新回复数大于0时，服务器那边会更新新回复数
                    if (msg.NewReply > 0) {
                        isChanged = true;
                    }
                    //定义对话框按钮
                    var buttonsObj = [{
                        text: "关闭",
                        iconCls: "icon-cancel",
                        handler: function () {
                            //如果发生改动，刷新列表
                            if (isChanged)
                                $("#MessageDG").datagrid("reload");
                            //将textarea的值置为空，下次打开才能正确显示实际的值，不然输入后就会一直显示输入的值
                            $("#EditContent").val("");
                            dia.dialog("close");
                        }
                    }];
                    //开启对话框
                    var dia = $("#EditMessageDiv").dialog({ "title": "查看留言", buttons: buttonsObj }).dialog("open");
                } else {
                    alert("未选中任何数据");
                }
            });

            //提交修改留言
            $("#ConfirmBtn").click(function () {
                var errorInfo = "";     //记录错误信息
                var title = $("#EditTitle").val();
                var content = $("#EditContent").val();
                var id = $("#EditId").val();
                var isPublic = $("#IsPublic").val();

                if (/^\s*$/.test(title)) { //判断字符串是否全是空格或为空
                    errorInfo += "标题不能为空\n";
                }
                if (/^\s*$/.test(content)) {   //判断字符串是否全是空格或为空
                    errorInfo += "内容不能为空\n";
                }
                //以防万一
                if (isPublic) {
                    errorInfo += "无法修改已公开留言\n";
                }
                if (errorInfo != "") {
                    alert(errorInfo);
                } else {
                    var data = {
                        Id: id,
                        Title: title,
                        Content: content,
                        IsPublic: isPublic
                    };
                    $.ajax({
                        type: 'POST',
                        url: '/MyUserCenter/ChangeMessage',
                        data: data,
                        success: function (r) {
                            isChanged = true;
                            alert(r.tip);
                        }
                    });
                }
            });

            //删除留言
            $("#DeleteBtn").click(function () {
                //取得选中行
                var msg = $('#MessageDG').datagrid('getSelected');
                if (msg) {
                    if (msg.IsPublic) {
                        alert("您无法删除和修改已公开的留言");
                    }
                    else if (confirm("确定删除该留言吗？")) {
                        //获取Id
                        var data = {
                            Id: msg.Id,
                            IsPublic: msg.IsPublic
                        };
                        $.ajax({
                            type: 'POST',
                            url: '/MyUserCenter/DeleteMessage',
                            data: data,
                            success: function (r) {
                                $("#MessageDG").datagrid("reload");
                            }
                        });
                    }
                } else {
                    alert("未选中任何数据");
                }

            });

            //开启新增留言框
            $("#AddBtn").click(function () {
                //定义对话框按钮
                var buttonsObj = [{
                    text: "关闭",
                    iconCls: "icon-cancel",
                    handler: function () { dia.dialog("close"); }
                }];
                //开启对话框
                var dia = $("#AddMessageDiv").dialog({ "title": "新增留言", buttons: buttonsObj }).dialog("open");
            });

            //添加新留言
            $("#AddConfirmBtn").click(function () {
                var errorInfo = "";     //记录错误信息
                var title = $("#Title").val();
                var content = $("#Content").val();

                if (/^\s*$/.test(title)) { //判断字符串是否全是空格或为空
                    errorInfo += "标题不能为空\n";
                }
                if (/^\s*$/.test(content)) {   //判断字符串是否全是空格或为空
                    errorInfo += "内容不能为空\n";
                }

                if (errorInfo != "") {
                    alert(errorInfo);
                } else {
                    var data = {
                        Title: title,
                        Content: content
                    };
                    $.ajax({
                        type: 'POST',
                        url: '/MyUserCenter/AddMessage',
                        data: data,
                        async: false,   //取消异步，改为同步
                        success: function (r) {
                            var result = r.result;
                            if (!result) {
                                alert(r.tip);
                            } else {
                                $("#MessageDG").datagrid("reload");
                                $("#AddMessageDiv").dialog("close");
                            }
                        }
                    });
                }
            });
        });


        //搜索
        function SearchMessage(value) {
            var errorInfo = "";     //记录错误信息
            var keyWord = value;
            if (keyWord.length >= 20) {
                errorInfo += "关键字不能超过20个字符 \n";
            } else if (keyWord.indexOf(" ") != -1) {
                errorInfo += "关键字不能含有空格 \n";
            }
            if (errorInfo != "") {
                alert(errorInfo);
            } else {
                var searchObject = {
                    KeyWord: keyWord
                };
                $("#MessageDG").datagrid('load', searchObject);
            }
        }
    </script>
</head>
<body>
    @{Html.RenderAction("GetUserHeader", "MyUser");}
    @Html.Partial("UserCenterHeader")
    <table id="MessageDG" title="我的留言列表">
        <thead>
            <tr>
                <th data-options="field:'Id',width:100">留言Id</th>
                <th data-options="field:'Title',width:100">标题</th>
                <th data-options="field:'Content',width:200">内容</th>
                <th data-options="field:'DateTime', formatter:DateTimeFormatter,width:100">留言日期</th>
                <th data-options="field:'IsPublic',width:100">是否公开</th>
                <th data-options="field:'ReplyNum',width:100">回复数</th>
                <th data-options="field:'NewReply',width:100">新回复数</th>
            </tr>
        </thead>
    </table>

    <div id="ToolBar">
        <!--easyui的搜索框-->
        <input id="KeyWord" class="easyui-searchbox" style="width:300px"
               data-options="searcher:SearchMessage,prompt:'请输入搜索关键字'" />
        <br />

        <a id="AddBtn" href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-add" plain="true">添加</a>
        <a id="DeleteBtn" href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a>
        <a id="EditBtn" href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-edit" plain="true">查看</a>
    </div>

    <div id="EditMessageDiv" data-options="iconCls:'icon-edit',modal:true" style="display:none; width:800px;height:650px; ">
        <div class="MsgDiv">
            <input type="text" id="EditId" value="" style="display:none" readonly />
            <span id="EditIsPublic" style="display:none"></span>
            <input type="text" id="EditTitle" value="" />
            <div class="AuthorInfoDiv"><span class="UserName" id="EditUsername"></span><span class="MsgDate" id="EditMsgDate"></span></div>
            <textarea rows="12" style="margin-top:0" id="EditContent"></textarea>
            <button class="ConfirmBtn" id="ConfirmBtn" ">修改</button>
            <h4>回复</h4>
            <div id="RepliesDiv" class="RepliesDiv">
            </div>
        </div>
    </div>

    <div id="AddMessageDiv" data-options="iconCls:'icon-add',modal:true" style="text-align:center; display:none;width:800px;height:650px;">
        <h3>编写留言</h3>
        <div class="MsgDiv">
            <input type="text" id="Title" placeholder="请输入留言标题" maxlength="50" />
            <textarea rows="12" id="Content" maxlength="500" placeholder="请输入留言内容"></textarea>
            <button class="ConfirmBtn" id="AddConfirmBtn">发表</button>
        </div>
    </div>
</body>
</html>
