<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL"/>
  </configSections>
  <unity>
    <typeAliases>
      <typeAlias alias="IMapper" type="MessageBoard2.DataMapper.IMapper, MessageBoard2"/>
      <typeAlias alias="Mapper" type="MessageBoard2.DataMapper.Mapper, MessageBoard2"/>
      <typeAlias alias="IMyUserDao" type="MessageBoard2.Dao.Interface.IMyUserDao, MessageBoard2"/>
      <typeAlias alias="MyUserDao" type="MessageBoard2.Dao.MyUserDao, MessageBoard2"/>
      <typeAlias alias="IAdminDao" type="MessageBoard2.Dao.Interface.IAdminDao, MessageBoard2"/>
      <typeAlias alias="AdminDao" type="MessageBoard2.Dao.AdminDao, MessageBoard2"/>
      <typeAlias alias="IMessageDao" type="MessageBoard2.Dao.Interface.IMessageDao, MessageBoard2"/>
      <typeAlias alias="MessageDao" type="MessageBoard2.Dao.MessageDao, MessageBoard2"/>
      <typeAlias alias="IReplyDao" type="MessageBoard2.Dao.Interface.IReplyDao, MessageBoard2"/>
      <typeAlias alias="ReplyDao" type="MessageBoard2.Dao.ReplyDao, MessageBoard2"/>
      <typeAlias alias="IMyUserService" type="MessageBoard2.Service.Interface.IMyUserService, MessageBoard2"/>
      <typeAlias alias="MyUserService" type="MessageBoard2.Service.MyUserService, MessageBoard2"/>
      <typeAlias alias="IAdminService" type="MessageBoard2.Service.Interface.IAdminService, MessageBoard2"/>
      <typeAlias alias="AdminService" type="MessageBoard2.Service.AdminService, MessageBoard2"/>
      <typeAlias alias="IMessageService" type="MessageBoard2.Service.Interface.IMessageService, MessageBoard2"/>
      <typeAlias alias="MessageService" type="MessageBoard2.Service.MessageService, MessageBoard2"/>
      <typeAlias alias="IReplyService" type="MessageBoard2.Service.Interface.IReplyService, MessageBoard2"/>
      <typeAlias alias="ReplyService" type="MessageBoard2.Service.ReplyService, MessageBoard2"/>
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
    </typeAliases>
    <containers>
      <container name="dt">
        <types>
          <!--Dao-->
          <type type="IMyUserDao" mapTo="MyUserDao">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
            </typeConfig>
          </type>
          <type type="IAdminDao" mapTo="AdminDao">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
            </typeConfig>
          </type>
          <type type="IMessageDao" mapTo="MessageDao">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
            </typeConfig>
          </type>
          <type type="IReplyDao" mapTo="ReplyDao">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
            </typeConfig>
          </type>

          <!--Service-->
          <type type="IMyUserService" mapTo="MyUserService">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="MyUserDao" propertyType="MyUserDao">
                <dependency />
              </property>
              <property name="DataMapper" propertyType="Mapper">
                <dependency />
              </property>
            </typeConfig>
          </type>
          <type type="IAdminService" mapTo="AdminService">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="AdminDao" propertyType="AdminDao">
                <dependency />
              </property>
              <property name="DataMapper" propertyType="Mapper">
                <dependency />
              </property>
            </typeConfig>
          </type>
          <type type="IMessageService" mapTo="MessageService">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="MessageDao" propertyType="MessageDao">
                <dependency />
              </property>
              <property name="DataMapper" propertyType="Mapper">
                <dependency />
              </property>
            </typeConfig>
          </type>
          <type type="IReplyService" mapTo="ReplyService">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="ReplyDao" propertyType="ReplyDao">
                <dependency />
              </property>
              <property name="DataMapper" propertyType="Mapper">
                <dependency />
              </property>
            </typeConfig>
          </type>

          <!--Controller-->
          <type type="MessageBoard2.Controllers.MyUserController,MessageBoard2">
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="MyUserService" propertyType="MyUserService">
                <dependency />
              </property>
            </typeConfig>
          </type>
          <type type="MessageBoard2.Controllers.MyUserCenterController,MessageBoard2">
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="MyUserService" propertyType="MyUserService">
                <dependency />
              </property>
              <property name="MessageService" propertyType="MessageService">
                <dependency />
              </property>
            </typeConfig>
          </type>
          <type type="MessageBoard2.Controllers.MyAdminController,MessageBoard2">
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="AdminService" propertyType="AdminService">
                <dependency />
              </property>
            </typeConfig>
          </type>
          <type type="MessageBoard2.Controllers.MyAdminCenterController,MessageBoard2">
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="AdminService" propertyType="AdminService">
                <dependency />
              </property>
            </typeConfig>
          </type>
          <type type="MessageBoard2.Controllers.MyUserManageController,MessageBoard2">
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="MyUserService" propertyType="MyUserService">
                <dependency />
              </property>
            </typeConfig>
          </type>
          <type type="MessageBoard2.Controllers.MyMessageManageController,MessageBoard2">
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="MessageService" propertyType="MessageService">
                <dependency />
              </property>
              <property name="ReplyService" propertyType="ReplyService">
                <dependency />
              </property>
            </typeConfig>
          </type>
          <type type="MessageBoard2.Controllers.MyHomeController,MessageBoard2">
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="MessageService" propertyType="MessageService">
                <dependency />
              </property>
            </typeConfig>
          </type>
        </types>
        

        <instances>
          <add name="sqlMapperPath" type="System.String" value="Setting/ORM/SqlMap.config" />
        </instances>

      </container>
    </containers>
  </unity>
</configuration>