<!--后台管理页面的头部-->
<div style="display:flex; justify-content:space-between">
    <a href="/MyBack/Index" style="margin-left:30px;margin-top:30px">首页</a>
    <h2>留言板后台管理系统</h2>
    <div style="margin-right:30px;margin-top:30px">
        你好！
        @if (Session["AccountStatus"] != null && (MyAccountStatus)Session["AccountStatus"] == MyAccountStatus.Admin) {
            <a href="/MyAdminCenter/ChangeAdminInfo">@Session["AccountName"]</a>  <a href="/MyAdmin/Logout" style="font-size:8px">注销</a>
        }
        else {
            <a href="/MyAdmin/Login">请登录</a>
        }
    </div>
</div>
<hr />
