<!--管理员中心的菜单-->
<div style="text-align:center">
    <h3>管理员账户中心</h3>
    <div style="display:flex; justify-content:space-around;margin-left:300px;margin-right:300px">
        <h4><a href="/MyAdminCenter/ChangeAdminInfo">修改密码 </a></h4>
        <h4><a href="/MyAdminCenter/SignUp">注册新管理员</a></h4>
    </div>
</div>
