@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup>
    <h1>错误.</h1>
    <h2>处理您的请求时出现了一个错误</h2>
</hgroup>
Error Message: @Model.Exception.Message<br />
Controller: @Model.ControllerName<br />
Action: @Model.ActionName<br />

