<div style="display:flex; justify-content:space-around;margin-left:300px;margin-right:300px">
    <h3><a href="/MyUserManage/Index">用户管理</a></h3>
    <h3><a href="/MyMessageManage/Index">留言管理</a></h3>
</div>
