<!--用户中心的菜单-->
<div style="text-align:center">
    <h3>用户中心</h3>
    <div style="display:flex; justify-content:space-around;margin-left:300px;margin-right:300px">
        <h4><a href="/MyUserCenter/ChangeUserInfo">修改信息</a></h4>
        <h4><a href="/MyUserCenter/GetHistoryMessage">历史留言</a></h4>
        <h4><a href="/MyUserCenter/WriteMessage">编写留言</a></h4>
    </div>
</div>
