<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
    <properties resource="properties.config" />
    -->
  <settings>
    <!--是否使用Statement命名空间:
        true:引用xml对象进，必须加上命名空间，如：sqlMap.QueryForList<User>("TUser.GetUsers", null);
        false:则直接通过方法名引用就行了，如：sqlMap.QueryForList<User>("GetUsers", null);但注意保存保证方法名全局唯一。
    -->
    <setting useStatementNamespaces="true"/>
    <!--是否启用sqlmap上的缓存机制-->
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="false" />
  </settings>

  <providers resource="Setting/ORM/providers.config"  />
  <database>
    <provider name="sqlServer2.0"/>
    <dataSource  name="iBatisInAction"  connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=MessageBoard;Integrated Security=True" />
    <!--<dataSource  name="iBatisInAction"  connectionString="Data Source=192.168.0.50:1433;Initial Catalog=LeaverWord;User Id=test_leaveword;Password=test_leaveword" />-->
    <!--<dataSource  name="iBatisInAction"  connectionString="Server=localhost;port=3306;Database=xijiangdata;Uid=root;Pwd=123456; Allow User Variables=True;" /> -->
  </database>

  <sqlMaps>
    <sqlMap resource="Setting/ORM/Maps/MyUser.xml"/>
    <sqlMap resource="Setting/ORM/Maps/Admin.xml"/>
    <sqlMap resource="Setting/ORM/Maps/Message.xml"/>
    <sqlMap resource="Setting/ORM/Maps/Reply.xml"/>
  </sqlMaps>
</sqlMapConfig>